<div class="flex justify-between mt-6">
  <h1 class="text-3xl font-bold mb-4 text-[#023047]">Ubicaciones</h1>
  <button class="bg-emerald-500 text-white font-medium rounded px-3 py-1 mb-4" (click)="create()">Crear Nuevo</button>
</div>

<div class='relative overflow-x-auto'>
  
  <table class="table-auto w-full text-[#023047] text-center text-sm">
    <thead>
        <tr>
            <th class="px-4 py-2 text-center">N°</th>
            <th class='py-1 px-3'>Lugar</th>
            <th class='py-1 px-3'>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr class="border-t" *ngFor="let base of objects; let i = index">
            <td class="text-center">{{ i + 1 }}</td>
            <td>{{ base.nombre }}</td>
            <td>
                <button class="bg-[#fb8500] text-white rounded px-2 py-1 mr-2 font-medium" (click)="edit(base.id)">Editar</button>
                <button class="bg-rose-500 text-white rounded px-2 py-1 font-medium" (click)="eliminar(base.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
  </table>

</div>