<div class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-3 border-b border-solid border-slate-200 rounded-t">
        <h3 class="text-lg font-semibold">
          {{ title }}
        </h3>
      </div>
      <form action="" [formGroup]="basicForm" (ngSubmit)="register(basicForm.value)" #ngForm="ngForm" id="empleadoform"
        novalidate enctype="multipart/form-data">
        <!--body-->
        <div class="p-6">
          <div class='grid grid-cols-1'>
            <div class='form-group m-1'>
              <label class='form-label'>Nombre del Rol</label>
              <input type="text" class='form-control' id='nombre' formControlName="nombre" placeholder="nombre"
                [ngClass]="{'is-invalid': basicForm.get('nombre')!.touched && basicForm.get('nombre')!.invalid}" />
              <div class="invalid-feedback">
                <div>Nombre es requerido</div>
              </div>
            </div>
            <div class='form-group m-1'>
              <label class='form-label'>Horario</label>
              <select
                class='form-control' id='id_horarios' formControlName="id_horarios" placeholder="id_horarios"
                [ngClass]="{'is-invalid': basicForm.get('id_horarios')!.touched && basicForm.get('id_horarios')!.invalid}"
              >
                <option *ngFor="let horario of horarios;" [value]="horario.id">
                  {{horario.hora_inicio}} - {{horario.hora_inicio}}
                </option>
              </select>
              <div class="invalid-feedback">
                <div>HOrario es requerido</div>
              </div>
            </div>

          </div>
        </div>
        <div class="flex items-center justify-end p-3 border-t border-solid border-slate-200 rounded-b">
          <button
            class="text-red-500 background-transparent hover:bg-slate-200 font-bold uppercase p-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear rounded-sm"
            type="button" (click)="activeModal.close('Close click')">
            Cerrar
          </button>
          <button
            class="bg-green-600 text-white hover:bg-green-700 font-bold uppercase text-sm p-2 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear"
            type="submit" [disabled]="basicForm.invalid || isLoading">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
