<div class='my-4 flex flex-row justify-between'>
	<div>
		<h2 class='text-lg font-bold text-[#023047] md:text-xl'>
			Reporte de Funcionarios por Ubicaciones
		</h2>
		<p class='hidden pb-2 font-light text-[#023047] md:block'>
			En esta sección podra ver la lista de funcionarios por las ubicaciones.
		</p>
	</div>
	<div class='flex items-center text-[#023047]'>
		<div class='form-group m-1 mr-3'>
			<label class='form-label mb-0'>Seleccione una Ubicación:</label>
			<select class='form-control form-control-sm' (change)="onChangeUbicaionSelect($event)">
				<option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.id">
					{{ubicacion.nombre}}
				</option>
			</select>
		</div>
	</div>
</div>

<div class='relative overflow-x-auto'>
	
  <table class="table-auto w-full text-[#023047] text-center text-sm">
    <thead>
        <tr>
            <th class="px-4 py-2 text-center">N°</th>
						<!-- <th class='py-1 px-3'>Foto</th> -->
						<th class='py-1 px-3'>Nombre Completo</th>
						<th class='py-1 px-3'>C.I.</th>
						<th class='py-1 px-3'>Celular</th>
						<th class='py-1 px-3'>Fecha Nac.</th>
        </tr>
    </thead>
    <tbody>
        <tr class="border-t" *ngFor="let base of funcionarios; let i = index">
            <td class="text-center">{{ i + 1 }}</td>
						<td>{{ base.nombres }} {{ base.apellidos }}</td>
						<td>{{ base.ci }}</td>
						<td>{{ base.celular }}</td>
						<td>{{ base.fecha_nac }}</td>
        </tr>
    </tbody>
  </table>
</div>