<form 
  action="" 
  [formGroup]="basicForm" 
  (ngSubmit)="register(basicForm.value)" 
  #ngForm="ngForm" 
  id="empleadoform"
  novalidate 
  enctype="multipart/form-data"
>

  <!-- Cabecera de la modal -->
  <div class="modal-header px-4 py-2 rounded-t-lg text-[#023047]">
    <h3 class="text-lg mb-0 font-bold">{{title}}</h3>
  </div>

  <!-- Cuerpo de la modal -->
  <div class="modal-body px-4 py-4 text-[#023047]">
    <div class='grid grid-cols-1'>
      <div class='form-group m-1'>
        <label class='form-label'>Hora Inicio</label>
        <input type="time" class='form-control' id='hora_inicio' formControlName="hora_inicio" placeholder="hora_inicio"
          [ngClass]="{'is-invalid': basicForm.get('hora_inicio')!.touched && basicForm.get('hora_inicio')!.invalid}" />
        <div class="invalid-feedback">
          <div>Hora Inicio es requerido</div>
        </div>
      </div>
      <div class='form-group m-1'>
        <label class='form-label'>Hora Inicio Descanso</label>
        <input type="time" class='form-control' id='hora_inicio_reseso' formControlName="hora_inicio_reseso" placeholder="hora_inicio_reseso"
          [ngClass]="{'is-invalid': basicForm.get('hora_inicio_reseso')!.touched && basicForm.get('hora_inicio_reseso')!.invalid}" />
        <div class="invalid-feedback">
          <div>Hora Inicio Descanso es requerido</div>
        </div>
      </div>
      <div class='form-group m-1'>
        <label class='form-label'>Hora Fin Descanso</label>
        <input type="time" class='form-control' id='hora_fin_reseso' formControlName="hora_fin_reseso" placeholder="hora_fin_reseso"
          [ngClass]="{'is-invalid': basicForm.get('hora_fin_reseso')!.touched && basicForm.get('hora_fin_reseso')!.invalid}" />
        <div class="invalid-feedback">
          <div>Hora Fin Descanso es requerido</div>
        </div>
      </div>
      <div class='form-group m-1'>
        <label class='form-label'>Hora Fin</label>
        <input type="time" class='form-control' id='hora_fin' formControlName="hora_fin" placeholder="hora_fin"
          [ngClass]="{'is-invalid': basicForm.get('hora_fin')!.touched && basicForm.get('hora_fin')!.invalid}" />
        <div class="invalid-feedback">
          <div>Hora Fin es requerido</div>
        </div>
      </div>
    </div>
    <div class='form-group m-1'>
      <label class='form-label'>Dias a Trabajar:</label>
      <div class='grid grid-cols-7'>
        <div class='form-group m-1 text-center'>
          <label class='form-label'>Domingo</label>
          <input type="checkbox" class='form-control' id='domingo' formControlName="domingo" placeholder="domingo"/>
        </div>
        <div class='form-group m-1 text-center'>
          <label class='form-label'>Lunes</label>
          <input type="checkbox" class='form-control' id='lunes' formControlName="lunes" placeholder="lunes"/>
        </div>
        <div class='form-group m-1 text-center'>
          <label class='form-label'>Martes</label>
          <input type="checkbox" class='form-control' id='martes' formControlName="martes" placeholder="martes"/>
        </div>
        <div class='form-group m-1 text-center'>
          <label class='form-label'>Miercoles</label>
          <input type="checkbox" class='form-control' id='miercoles' formControlName="miercoles" placeholder="miercoles"/>
        </div>
        <div class='form-group m-1 text-center'>
          <label class='form-label'>Jueves</label>
          <input type="checkbox" class='form-control' id='jueves' formControlName="jueves" placeholder="jueves"/>
        </div>
        <div class='form-group m-1 text-center'>
          <label class='form-label'>Viernes</label>
          <input type="checkbox" class='form-control' id='viernes' formControlName="viernes" placeholder="viernes"/>
        </div>
        <div class='form-group m-1 text-center'>
          <label class='form-label'>Sabado</label>
          <input type="checkbox" class='form-control' id='sabado' formControlName="sabado" placeholder="sabado"/>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Pie de página de la modal -->
  <div class="modal-footer bg-gray-100 px-4 py-2 rounded-b-lg flex justify-end">
    <button 
      class="bg-[#fb8500] text-white px-3 py-2 rounded mr-2" 
      type="submit" 
      [disabled]="basicForm.invalid || isLoading"
    >Guardar</button>
    <button 
      class="bg-[#023047] text-white px-3 py-2 rounded" 
      type="button" 
      (click)="activeModal.close('Close click')"
    >Cancelar</button>
  </div>
</form>
