

<form
    action=""
    [formGroup]="basicForm"
    (ngSubmit)="register(basicForm.value)"
    #ngForm="ngForm"
    id="empleadoform"
    novalidate
    enctype="multipart/form-data"
>

    <!-- Cabecera de la modal -->
    <div class="modal-header px-4 py-2 rounded-t-lg text-[#023047]">
        <h3 class="text-lg mb-0 font-bold">{{title}}</h3>
    </div>

    <!-- Cuerpo de la modal -->
    <div class="modal-body px-4 py-4 text-[#023047]">
        
      <div class='grid grid-cols-2'>
        <div class='form-group m-1'>
          <label class='form-label'>Nombres</label>
          <input type="text" class='form-control' id='title' formControlName="nombres" placeholder="nombres"
            [ngClass]="{'is-invalid': basicForm.get('nombres')!.touched && basicForm.get('nombres')!.invalid}" />
          <div class="invalid-feedback">
            <div>Nombres es requerido</div>
          </div>
        </div>
        <div class='form-group m-1'>
          <label class='form-label'>Apellidos</label>
          <input type="text" class='form-control' id='apellidos' formControlName="apellidos" placeholder="apellidos"
            [ngClass]="{'is-invalid': basicForm.get('apellidos')!.touched && basicForm.get('apellidos')!.invalid}" />
          <div class="invalid-feedback">
            <div>Apellidos es requerido</div>
          </div>
        </div>
        <div class='form-group m-1'>
          <label class='form-label'>CI</label>
          <input type="number" class='form-control' id='ci' formControlName="ci" placeholder="ci"
            [ngClass]="{'is-invalid': basicForm.get('ci')!.touched && basicForm.get('ci')!.invalid}" />
          <div class="invalid-feedback">
            <div>CI es requerido</div>
          </div>
        </div>
        <div class='form-group m-1'>
          <label class='form-label'>Celular</label>
          <input type="text" class='form-control' id='celular' formControlName="celular" placeholder="celular"
            [ngClass]="{'is-invalid': basicForm.get('celular')!.touched && basicForm.get('celular')!.invalid}"/>
          <div class="invalid-feedback">
            <div *ngIf="basicForm.get('celular')!.hasError('required')">Celular es requerido</div>
            <div *ngIf="basicForm.get('celular')!.hasError('maxlength')">Celular no puede ser mayor que 8 dígitos</div>
          </div>
        </div>
        <div class='form-group m-1'>
          <label class='form-label'>Fecha Nac.</label>
          <input type="date" class='form-control' id='fecha_nac' formControlName="fecha_nac" placeholder="fecha_nac"
            [ngClass]="{'is-invalid': basicForm.get('fecha_nac')!.touched && basicForm.get('fecha_nac')!.invalid}" />
          <div class="invalid-feedback">
            <div>Fecha Nac. es requerido</div>
          </div>
        </div>
        <div></div>
        <div class='form-group m-1'>
          <label class='form-label'>Usuario</label>
          <input type="text" class='form-control' id='user' formControlName="user" placeholder="user"
            [ngClass]="{'is-invalid': basicForm.get('user')!.touched && basicForm.get('user')!.invalid}" />
          <div class="invalid-feedback">
            <div>Usuario es requerido</div>
          </div>
        </div>
        <div class='form-group m-1'>
          <label class='form-label'>Contraseña</label>
          <input type="password" class='form-control' id='password' formControlName="password" placeholder="password"
            [ngClass]="{'is-invalid': basicForm.get('password')!.touched && basicForm.get('password')!.invalid}" />
          <div class="invalid-feedback">
            <div>Contraseña es requerido</div>
          </div>
        </div>
        <div class='form-group m-1'>
          <label class='form-label'>Rol</label>
          <select
            class='form-control' id='id_rols' formControlName="id_rols" placeholder="id_rols"
            [ngClass]="{'is-invalid': basicForm.get('id_rols')!.touched && basicForm.get('id_rols')!.invalid}"
          >
            <option *ngFor="let rolAux of roles" [value]="rolAux.id">
              {{rolAux.nombre}}
            </option>
          </select>
          <div class="invalid-feedback">
            <div>Rol es requerido</div>
          </div>
        </div>
        <div class='form-group m-1'>
          <label class='form-label'>Ubicacion del Trabajo</label>
          <select
            class='form-control' id='id_ubicaciones' formControlName="id_ubicaciones" placeholder="id_ubicaciones"
            [ngClass]="{'is-invalid': basicForm.get('id_ubicaciones')!.touched && basicForm.get('id_ubicaciones')!.invalid}"
          >
            <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.id">
              {{ubicacion.nombre}}
            </option>
          </select>
          <div class="invalid-feedback">
            <div>Ubicacion es requerido</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pie de página de la modal -->
    <div class="modal-footer bg-gray-100 px-4 py-2 rounded-b-lg flex justify-end">
        <button 
          class="bg-[#fb8500] text-white px-3 py-2 rounded mr-2" 
          type="submit" 
          [disabled]="basicForm.invalid || isLoading"
        >Guardar</button>
        <button 
          class="bg-[#023047] text-white px-3 py-2 rounded" 
          type="button" 
          (click)="activeModal.close('Close click')"
        >Cancelar</button>
    </div>

<!-- </div> -->
</form>

