<nav class="bg-white fixed w-full md:static flex flex-row sm:shadow-sm">
    <div class="lg:hidden p-3">
        <button id='boton'
            class="items-center px-2 py-2 rounded text-gray-400 hover:text-gray-500 hover:bg-gray-50 transition"
            (click)="ejecutarMenu()">
            <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
        </button>
    </div>
    <div class="flex-grow text-center p-1">
        <!-- class="md:hidden" -->
        <div>
            <img class="inline" style="width: auto; height: 3rem;" src="assets/logo-con-letra.png" alt="">
            <!-- <span class="text-gray-700 font-bold text-lg ml-1 mt-2">MyShop</span> -->
        </div>
    </div>
    <!-- <div>
        <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white"
            src="assets/logo-con-letra.png" alt="{user.handle}" />
    </div> -->
</nav>