<div class="flex justify-between mt-6">
  <h2 class="text-xl font-bold mb-4 text-[#023047]">Lista de Funcionarios</h2>
  <button class="bg-emerald-500 text-white font-medium rounded px-3 py-1 mb-4" (click)="create()">Crear Nuevo</button>
</div>

<div class='relative overflow-x-auto'>
  
  <table class="table-auto w-full text-[#023047] text-center text-sm">
    <thead>
        <tr>
            <th class="px-4 py-2 text-center">N°</th>
            <th class="px-4 py-2">Foto</th>
            <th class="px-4 py-2">Nombre Completo</th>
            <th class="px-4 py-2">C.I.</th>
            <th class="px-4 py-2">Celular</th>
            <th class="px-4 py-2">Fecha Nac.</th>
            <th class="px-4 py-2">Usuario</th>
            <th class="px-4 py-2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr class="border-t" *ngFor="let base of objects; let i = index">
            <td class="text-center">{{ i + 1 }}</td>
            <td 
              class="text-center px-4" 
              style="display: flex; align-items: center; justify-content: center;"
            >
              <img class="h-8 w-7 rounded-2xl" src="{{serverUrl}}{{base.id}}_{{base.nombres}}.jpg" alt="">
            </td>
            <td>{{ base.nombres }} {{ base.apellidos }}</td>
            <td>{{ base.ci }}</td>
            <td>{{ base.celular }}</td>
            <td>{{ base.fecha_nac }}</td>
            <td>{{ base.user }}</td>
            <td>
                <button class="bg-[#fb8500] text-white rounded px-2 py-1 mr-2 font-medium" (click)="edit(base.id)">Editar</button>
                <button class="bg-rose-500 text-white rounded px-2 py-1 font-medium" (click)="eliminar(base.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
  </table>

    <!-- <table class='w-full text-center text-sm'>
      <thead>
        <tr>
          <th class='py-1 px-3'>#</th>
          <th class='py-1 px-3'>Foto</th>
          <th class='py-1 px-3'>Nombre Completo</th>
          <th class='py-1 px-3'>C.I.</th>
          <th class='py-1 px-3'>Celular</th>
          <th class='py-1 px-3'>Fecha Nac.</th>
          <th class='py-1 px-3'>Usuario</th>
          <th class='py-1 px-3'>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let base of objects; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td></td>
          <td>{{ base.nombres }} {{ base.apellidos }}</td>
          <td>{{ base.ci }}</td>
          <td>{{ base.celular }}</td>
          <td>{{ base.fecha_nac }}</td>
          <td>{{ base.user }}</td>
          <td>
            <div class="flex items-center justify-center">
              <button type="button" class="bg-yellow-600 hover:bg-yellow-700 rounded-sm text-white py-1 px-2" (click)="edit(base.id)">
                Editar
              </button>
              <button type="button" class="bg-red-600 hover:bg-red-700 rounded-sm text-white py-1 px-2 ml-1" (click)="eliminar(base.id)">
                Eliminar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table> -->
</div>
