<div class='my-4 flex flex-row justify-between'>
	<div>
		<h2 class="text-lg font-bold text-[#023047] md:text-xl">Reporte de Funcionarios por Mes</h2>
		<p class='hidden pb-2 font-light text-[#023047] md:block'>
			En esta sección podra ver los reportes de asistencia de los funcionarios.
		</p>
	</div>
  <form
    action=""
    [formGroup]="basicForm"
    novalidate
    class='flex items-center text-[#023047]'
  >
    <div class='form-group m-1 mr-3'>
      <label class='form-label mb-0'>Seleccione una Ubicación:</label>
      <select
        class='form-control form-control-sm'
        formControlName="ubicacion_id"
      >
        <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.id">
          {{ubicacion.nombre}}
        </option>
      </select>
    </div>
    <div class='form-group m-1'>
      <label class='form-label mb-0'>Seleccione un Mes:</label>
      <select
        class='form-control form-control-sm'
        formControlName="mes_id"
      >
        <option *ngFor="let mes of gestion?.meses" [value]="mes.id">
          {{mes.nombre}}
        </option>
      </select>
    </div>
  </form>
</div>

<div class='relative overflow-x-auto text-[#023047]'>
  <table class='w-full text-center text-sm border-collapse border border-slate-400'>
    <thead>
      <tr>
        <th class='border border-slate-300' colspan="2">{{mesNombre}} - {{ gestion?.nombre }}</th>
        <td *ngFor="let date of datesOfMonth" class="vertical_text text-left border border-slate-300 py-1" rowspan="2">
          <!-- {{ date.date | date:'dd-MM-yyyy' }}  {{ date.dayName }} -->
          <span>{{ date.date.toDate() | date:'dd-MM-yyyy' }}</span> - <span>{{ date.dayName }}</span>
        </td>
        <th class='vertical_text border border-slate-300' rowspan="2">Hrs. Retraso</th>
      </tr>
      <tr>
        <th class='border border-slate-300' style="height: 15px;">#</th>
        <th class='border border-slate-300'>Funcionario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let funcionario of objects; let i = index">
        <th scope="row" class="border border-slate-300">{{ i + 1 }}</th>
        <td class="border border-slate-300">CI: {{ funcionario.ci }} - {{ funcionario.nombres }} {{ funcionario.apellidos }}</td>
        <!-- <td *ngFor="let dia of funcionario.dias" class="border border-slate-300 bg">
          {{ dia.estado }}
        </td> -->
        <td *ngFor="let dia of funcionario.dias" class="border border-slate-300" [ngClass]="{
          'bg-green-300': dia.estado === 'Presente',
          'bg-yellow-300': dia.estado === 'Tarde',
          'bg-red-300': dia.estado === 'Falta'
        }">
        <button (click)="detalle(dia.id, funcionario.id_rols)">
          <ng-container *ngIf="dia.estado === 'Presente'">P</ng-container>
          <ng-container *ngIf="dia.estado === 'Tarde'">T</ng-container>
          <ng-container *ngIf="dia.estado === 'Falta'">F</ng-container>
        </button>
        </td>
        <td>
          {{SumatoriaHorasRetraso(funcionario)}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
